html, body{
    font-family: 'Cinzel', serif;
    font-size: 16px;
}
#game{
    width: 330px;
    margin: 0 auto;
}

ul.spell-bar{
    width: 330px;
    margin:0 auto;
    padding:0 5px;
    text-align:center;
}

ul.spell-bar li{
    display:block;
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 5px;
}

ul.spell-bar li img{
    width: 100%;
}

ul.enemies {
    width: 320px;
    height: 420px;
    padding:0;
}

ul.enemies li{
    list-style:none;
    width: 100%;
    text-align: center;
}

ul.enemies li img{
    width: 100%;
}

#player{
    display: block;
    width: 100%;
}